.env*
!.env.example
storage


node_modules
build
.npmrc
.prettierrc
.prettierignore
.eslintrc.cjs
.eslintignore
.editorconfig
.svelte-kit

tests
**/*.test.ts
playwright.config.ts

.git
.gitignore
README.md
LICENSE

.dockerignore
Dockerfile
